In [1]:
import pandas as pd

In [ ]:
api_worldbank_dataset = pd.read_csv('api_worldbank_dataset.csv')
df_heritage_index_knoema = pd.read_csv('heritage_index_knoema.csv')
universities_data = pd.read_csv('universities_data.csv')

In [ ]:
merged_api = api_worldbank_dataset.merge(
    df_heritage_index_knoema,
    left_on='country_name',
    right_on='country',
    how='left'
)

merged_api['country_name'] = merged_api['country_name'].fillna(merged_api['country'])
merged_api = merged_api.drop(columns=['country'])

merged_api

,iso3_code,country_name,iso2_code,gdp,unemployment_rate,school_enrollment_tert,adult_literacy_rate,heritage_year,economic_freedom_score
0,ABW,Aruba,AW,3.648573e+09,NaN,14.065542,96.820000,NaN,NaN
1,AFG,Afghanistan,AF,1.715223e+10,13.295,10.854360,37.270000,NaN,NaN
2,AGO,Angola,AO,8.039694e+10,14.464,9.954907,66.239998,2025.0,55.0
3,ALB,Albania,AL,2.717774e+10,10.250,81.998627,97.680000,2025.0,66.6
4,AND,Andorra,AD,4.039844e+09,NaN,67.676768,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
206,XKX,Kosovo,XK,1.114860e+10,NaN,NaN,NaN,2025.0,61.7
207,YEM,"Yemen, Rep.",YE,2.160616e+10,17.086,8.806900,37.090000,NaN,NaN
208,ZAF,South Africa,ZA,4.002607e+11,33.168,23.493769,91.150002,2025.0,57.3
209,ZMB,Zambia,ZM,2.632578e+10,5.961,3.961597,82.041806,2025.0,50.9
210,ZWE,Zimbabwe,ZW,4.418770e+10,8.554,7.749130,93.230003,2025.0,35.1

In [ ]:
uni_df = universities_data.merge(
    merged_api,
    left_on='country',
    right_on='iso2_code',
    how='left'
)

uni_df

,name,url,country,location,qs_ranking_preview,the_ranking_preview,arwu_ranking_preview,bachelor_from,bachelor_to,master_from,...,rating_usa,iso3_code,country_name,iso2_code,gdp,unemployment_rate,school_enrollment_tert,adult_literacy_rate,heritage_year,economic_freedom_score
0,Harvard University,https://www.unipage.net/en/67/harvard_university,US,"United States,Cambridge",4.0,3.0,1.0,"7,918","60,144","7,748",...,#1,USA,United States,US,2.918489e+13,4.106,79.361931,NaN,2025.0,70.2
1,Massachusetts Institute of Technology,https://www.unipage.net/en/6/massachusetts_ins...,US,"United States,Boston",1.0,2.0,3.0,"61,990","61,990","61,990",...,#3,USA,United States,US,2.918489e+13,4.106,79.361931,NaN,2025.0,70.2
2,Stanford University,https://www.unipage.net/en/147/stanford_univer...,US,"United States,California",6.0,6.0,2.0,"43,406","58,400","26,473",...,#2,USA,United States,US,2.918489e+13,4.106,79.361931,NaN,2025.0,70.2
3,University of Cambridge,https://www.unipage.net/en/5/university_of_cam...,GB,"United Kingdom,Cambridge",5.0,5.0,4.0,"30,895","44,584","10,910",...,NaN,GBR,United Kingdom,GB,3.643834e+12,4.111,80.498772,NaN,2025.0,69.3
4,California Institute of Technology,https://www.unipage.net/en/30/california_insti...,US,"United States,California",10.0,7.0,9.0,"56,364","60,816","54,570",...,#19,USA,United States,US,2.918489e+13,4.106,79.361931,NaN,2025.0,70.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Stillman College,https://www.unipage.net/en/12920/stillman_college,US,"United States,Tuscaloosa",NaN,NaN,NaN,"11,389","11,389","12,497",...,NaN,USA,United States,US,2.918489e+13,4.106,79.361931,NaN,2025.0,70.2
9996,IMT Alti Studi Lucca,https://www.unipage.net/en/6773/imt_alti_studi...,IT,"Italy,Lucca",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,ITA,Italy,IT,2.372775e+12,6.778,75.949654,99.349998,2025.0,60.9
9997,National Academy of Santa Cecilia,https://www.unipage.net/en/6774/national_acade...,IT,"Italy,Rome",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,ITA,Italy,IT,2.372775e+12,6.778,75.949654,99.349998,2025.0,60.9
9998,Dayananda Sagar College of Engineering,https://www.unipage.net/en/16702/dayananda_sag...,IN,"India,Bengaluru",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,IND,India,IN,3.912686e+12,4.202,34.418466,81.699997,2025.0,53.0
9999,Union of Great Lakes Colleges,https://www.unipage.net/en/1942/union_of_great...,BR,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,BRA,Brazil,BR,2.179412e+12,7.634,60.390621,94.800512,2025.0,55.1

In [ ]:
uni_df.to_csv('universities_final_data.csv', index=False)